body{
    margin: 0;
    background-color: #795695;
    color: #f3f4e7;
    font-family: 'Coustard', serif;
}
main{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
    position: relative;
}
@media (max-width: 400px){
    main{
        margin-top: 5rem;
    }
}
.entersite{
    background-image: url(images/entersiteimg.jpg);
    background-size: 200%;
    background-position: top 20% center;
    background-attachment: fixed;
}
.entersite nav{
    background-color: transparent;
}
.entersite nav a{
    position: fixed;
    background-color: #7956954d;
    font-size: 1.125rem;
    z-index: 1;
}
.entersite nav a>span{
    background-color: #7956954d;
    padding: 0.75rem 1.25rem;
}
.entersite nav a:first-child{
    top: 8rem;
    left: 2rem;
}
.entersite nav a:nth-child(2){
    top: 8rem;
    right: 2rem;
}
.entersite nav a:nth-child(3){
    bottom: 4rem;
    left: 2rem;
}
.entersite nav a:nth-child(4){
    bottom: 4rem;
    right: 2rem;
}
.logo{
    max-width: 250px;
    width: 100%;
    margin: 1.5rem auto;
    display: block;
}
@media (min-width: 800px){
    .entersite{
        background-image: url(images/entersiteimg.jpg);
        background-size: cover;
        background-position: top 20% left;
    }
    .entersite nav a:first-child{
        top: 2rem;
    }
    .entersite nav a:nth-child(2){
        top: 2rem;
    }
    .entersite nav a:nth-child(3){
        bottom: 2rem;
    }
    .entersite nav a:nth-child(4){
        bottom: 2rem;
    }
    .logo{
        width: 100%;
        max-width: 350px;
        margin: 1.5rem auto;
        display: block;
    }
}
.bio{
    display: flex;
    padding-top: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.bio p{
    font-size: 1.25rem;
    line-height: 2rem;
    padding: 0 1rem;
    margin-top: 70%;
}
.bio img{
    border-radius: 3rem;
    width: 90%;
}
.slider {
	width: 1024px;
	
}

.slider-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

.slide {
    left: 5%;
	position: absolute;
	width: 90%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}
.slide>img{
    width: 46%;
    margin: 0 1.5%;
}
@media (min-width: 640px){
    .bio img{
        max-height: 400px;
        width: unset;
    }
    .slider-wrapper>img{
        margin-left: calc(50% - 300px);
    }
    .slider-wrapper {
        height: 400px;
    }
    .bio p{
        margin-top: 0;
    }
}
@media (min-width: 1000px){
    .bio{
        flex-wrap: nowrap;
    }
    .bio p{
        width: 35%;
    }
    .bio img{
        width: 75%;
    }
    img.slide{
        height: unset;
        left: 12.5%;
    }
    .slide>img{
        width: 40%;
        margin: 0 2%;
    }
    .slider {
        width: 52%;
    }
}
.shows{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-bottom: 12rem;
    padding-top: 1rem;
}
.shows .button{
    margin-top: 2rem;
}
.shows p{
    margin-bottom: .5rem;
}
.shows h2{
    font-size: 3rem;
}
h1{
    text-align: center;
}
nav{
    background-color: #c8a4d4;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
nav>div>div{
    display: none;
    position: absolute;
    background-color: #795695;
    width: 8.5rem;
    text-align: center;
    left: -1.75rem;
    top: 100%;
    padding-top: 0.5rem;
    z-index: 1;
}
nav>div>div>div{
    border: 2px solid #c8a4d4;
    border-radius: 3px;
}
nav>div>div>div:hover{
    color: #6f930f;
    border: 1px solid #c8a4d4;
}
nav>div>div>div>span{
    border: 1px solid #c8a4d4;
    margin: 2px;
    padding: .25rem .75rem;
    display: inline-block;
    border-radius: 3px;
    background-color: #795695;
}
nav>div>div>div>span:hover{
    color: #6f930f;
    border: 2px solid #c8a4d4;
}
nav>div{
    position: relative;
}
nav>div:hover>div, nav>div>div>div:hover{
    display: block
}
nav>div>div a{
    border: none;
    margin: 0.25rem 0;
}
nav>div>div a:hover{
    border: none;
}
nav a, .button{
    border: 2px solid #c8a4d4;
    padding: .1rem;
    display: inline-block;
    border-radius: 3px;
    background-color: #795695;
    color: #f3f4e7;
}
.plus.button, .plus.button span{
    background-color: #7956954d;
    cursor: pointer;
}
nav a:hover, .button:hover{
    color: #6f930f;
    border: 1px solid #c8a4d4;
}
nav a:hover span,.button:hover span{
    border: 2px solid #c8a4d4;
}
nav a span,.button span{
    border: 1px solid #c8a4d4;
    margin: 2px;
    padding: .25rem .75rem;
    display: inline-block;
    border-radius: 3px;
    background-color: #795695;
}
.christmascountdown{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1rem;
}
.christmascountdown p{
    border: 2px solid #c8a4d4;
    padding: .1rem;
    display: inline-block;
    border-radius: 3px;
    background-color: #795695;
    color: #f3f4e7;
    margin: .5rem;
    cursor: pointer;
}
.christmascountdown span{
    border: 1px solid #c8a4d4;
    margin: 2px;
    padding: .25rem .75rem;
    display: inline-block;
    border-radius: 3px;
    background-color: #795695;
}
.christmascountdown p:hover{
    color: #6f930f;
    border: 1px solid #c8a4d4;
}
.christmascountdown p:hover span{
    border: 2px solid #c8a4d4;
}
@media (min-width: 1200px){
    .christmascountdown p{
        margin: .5rem .18rem;
    }
}
footer{
    padding-bottom: 1rem;
    text-align: center;
}
footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
    font-size: .7rem;
    padding: 0 1rem;
}
footer div:nth-child(2){
    justify-content: space-between;
    border-top: .2rem solid #c8a4d4;
    margin-top: .5rem;
}
.entersite footer{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
}
.entersite footer>div{
    justify-content: center;
    border: none;
}
.entersite footer div:nth-child(2)> *{
    width: unset;
}
a{
    color: #f3f4e7;
    text-decoration: none;
}
a:hover{
    color: #6f930f;
}
footer div:nth-child(2) *{
    width: 33%;
}
footer div .icon{
    width: 2rem;
    display: block;
}
.newmusic{
    font-size: 2.5rem;
    position: relative;
    padding-top: 1rem;
}
.newmusic h2{
    margin-top: 0;
}
.newmusic img{
    max-width: 30rem;
}
figcaption{
    font-size: 1.5rem;
}
figcaption span{
    font-size: 1rem;
}
.christmasbackground{
    position: absolute;
    z-index: -1;
    opacity: .8;
    height: 100%;
    width: 100%;
}
.christmasbackground img{
    width: 4rem;
    position: absolute;
}
.christmasbackground img:first-child{
    top: 3rem;
    left: 3rem;
}
.christmasbackground img:nth-child(2){
    bottom: 6rem;
    right: 6em;
}
.christmasbackground img:nth-child(3){
    bottom: 9rem;
    right: 9rem;
}
.christmasbackground img:nth-child(4){
    top: 12rem;
    left: 12rem;
}
.christmasbackground img:nth-child(5){
    top: 15rem;
    left: 15rem;
}
.christmasbackground img:nth-child(6){
    bottom: 18rem;
    right: 18rem;
}
.christmasbackground img:nth-child(7){
    bottom: 21rem;
    right: 21rem;
}
.christmasbackground img:nth-child(8){
    top: 24rem;
    right: 2rem;
}
.gift{
    background-color: #59725f;
    max-width: calc(100% - 7rem);
    width: 28rem;
    height: 28rem;
    padding: 4rem 1.5rem 3rem;
    margin: auto;
    display: none;
    position: absolute;
    top: 3rem;
    left: 2rem;
    z-index: 2;
}
.gift.tall{
    height: 50rem;
}
.gift.show{
    display: block;
}
.gift a{
    color: #C4232E;
    display: inline-block;
    margin: 1rem 0;
}
.gift a:hover{
    color: #f3f4e7;
}
.overlay{
    background-color: #7956954d;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
.overlay.show{
    display: block;
}
@media (min-width:512px){
    .gift{
        left: calc(50% - 15.5rem);
    }
}
.signup{
    background-color: #795695;
    max-width: calc(100% - 7rem);
    width: 25rem;
    padding: 1.5rem;
    margin: auto;
    display: none;
    position: sticky;
    top: 2rem;
    left: 2rem;
    z-index: 2;
}
.exit{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    font-size: 2rem;
    color: #f3f4e7;
}
@media (min-width:512px){
    .signup{
        left: calc(50% - 14rem);
    }
    .sidebyside{
        display: flex;
        gap: .5rem;
    }
    .sidebyside div{
        width: 50%;
    }
}
.signup.show{
    display: block;
}
.signup label{
    margin-top: .25rem;
}
.signup label, .signup input, .signup select{
    display: block;
    color: #f3f4e7;
    font-size: 1rem;
}
.signup input, .signup select{
    border: 1px solid #c8a4d4;
    margin: 2px;
    padding: .25rem .75rem;
    border-radius: 3px;
    background-color: #795695;
    width: calc(100% - 1.85rem)
}
.signup input[type=submit]{
    width: calc(100% - .25rem);
}
.signup .clear.foot{
    margin-top: .5rem;
}
.signup select{
    width: calc(100% - .25rem);
    height: 1.75rem
}
.signup .whiteborder{
    border: 2px solid #c8a4d4;
    padding: .1rem;
    display: block;
    border-radius: 3px;
    background-color: #795695;
    color: #f3f4e7;
}
img{
    max-width: 100%;
}
.dates>div{
    border: 2px solid #c8a4d4;
    border-radius: 3px;
    padding: .1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.dates>div>span{
    border: 1px solid #c8a4d4;
    margin: 2px;
    padding: .25rem .75rem;
    display: inline-block;
    border-radius: 3px;
    background-color: #795695;
    display: grid;
    grid-template-columns: 2fr 5fr;
    align-items: center;
}
.nodate{
    grid-column: 1/3;
}
@media (min-width: 895px){
    .dates>div>span{
        grid-template-columns: 1fr 5fr;
    }
    .dates{
        grid-template-columns: 5fr 1fr;
    }
}
.dates p{
    margin: 0;
    font-size: .75rem;
}
.dates strong{
    font-size: 1rem;
}
.dates{
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    justify-items: flex-start;
    gap: .75rem 0;
    margin: 2rem;
    margin-top: 15rem;
}
.dates .button span{
    padding: .77rem .75rem;
    margin: 2px;
}
.tiktok-embed{
    margin: auto;
}
blockquote.tiktok-embed>iframe{
    margin: auto;
    max-height: 100%;
    width: unset;
}
.releases{
    margin-bottom: .5rem;
}
.releases a:hover{
    color: #6f930f;
}
.youtubefeatures{
    border: 2px solid #c8a4d4;
    padding: .1rem;
    border-radius: 3px;
    background-color: #795695;
    color: #f3f4e7;
    width: 90%;
    position: relative;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    margin-top: .5rem;
}
.youtubefeatures>span{
border: 1px solid #c8a4d4;
margin: 2px;
display: block;
padding: .25rem .75rem;
border-radius: 3px;
background-color: #795695;
}
.youtubefeatures:hover{
    border: 1px solid #c8a4d4; 
}
.youtubefeatures:hover>span{
    border: 2px solid #c8a4d4;
    color: #6f930f;
}
.youtubefeatures video{
    width: 100%;
}
@media (min-width: 200px){
    .youtubefeatures{
        width: 72%;
        height: 31.4rem;
    }
    .youtubefeatures>span{
        height: calc(100% - 14.25px);
    }
    .youtubefeatures{
        flex-direction: row;
        align-items: flex-start;
    }
}
@media (min-width: 400px){
    .youtubefeatures{
        width: 66%;
        height: 31.4rem;
    }
}
@media (min-width: 600px){
    .youtubefeatures{
        width: 58%;
        height: 31.4rem;
    }
}
@media (min-width: 850px){
    .youtubefeatures{
        width: 44%;
        height: 31.4rem;
    }
}
@media (min-width: 1000px){
    .youtubefeatures{
        width: 32%;
        height: 31.4rem;
    }
}
@media (min-width: 1200px){
    .youtubefeatures{
        width: 22%;
        height: 31.4rem;
    }
}
.songs a{
    border: 2px solid #c8a4d4;
    padding: .1rem;
    border-radius: 3px;
    background-color: #795695;
    color: #f3f4e7;
    width: 90%;
    position: relative;
    box-sizing: border-box;
}
.songs a>span{
border: 1px solid #c8a4d4;
margin: 2px;
display: block;
padding: .25rem .75rem;
border-radius: 3px;
background-color: #795695;
}
.songs a:hover{
    border: 1px solid #c8a4d4; 
}
.songs a:hover>span{
    border: 2px solid #c8a4d4;
    color: #6f930f;
}
.songs{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.songs img{
    width: 100%;
}
@media (min-width: 600px){
    .songs a{
        width: 45%;
        height: 28rem;
    }
    .songs a>span{
        height: calc(100% - 14.25px);
    }
    .songs{
        flex-direction: row;
        align-items: flex-start;
    }
}
@media (min-width: 850px){
    .songs a{
        height: 32rem;
    }
}
@media (min-width: 1000px){
    .songs a{
        width: 24%;
        height: 23.5rem;
    }
    figcaption span{
        position: absolute;
        bottom: 0.25rem;
        left: calc(50% - 57px);
    }
}
@media (min-width: 1200px){
    .songs a{
        height: 27rem;
    }
}
.logoshadow{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(121,86,149);
    background: linear-gradient(180deg, rgba(121,86,149,0.8393732492997199) 0%, rgba(121,86,149,0.16710434173669464) 35%, rgba(121,86,149,0) 100%);
    z-index: -1;
}